<!DOCTYPE html>
<html>
<head>
	<title>Feeds</title>
<style>
a{
 text-decoration:none
}
</style>
</head>
<body style="background-color:gray;">
	<div style="height:150px;background-color:rgb(44,237,14);margin-top:0px;">
		<h1 style="margin-left:50px;">
			<br/>Express Home - Account Manager - <%= username %>
		</h1>
		<a href="/generalController/logout" style="margin-left:900px;">Logout</a>
		<a href="/accountManager/profile" style="margin-left:10px;">Account</a>
		<a href="/accountManager/report" style="margin-left:10px;">Report Analysis</a>
	</div>
	<div style="float:left;width:18%;height:500px;background-color:white;padding:20px;">
		<br/><input type="text" style="width:60%;border-radius:15px;"><input type="button" style="border-radius:15px;background-color:dodgerblue;width:20%;" value="search">
		<br/><br/>User Accounts :
		<br/>1.  <a href="/accountManager/userAccountView">Akash</a>
		<br/>2.  <a href="/accountManager/userAccountView">Abir</a>
		<br/>3.  <a href="/accountManager/userAccountView">Ananda</a>
		<br/>4.  <a href="/accountManager/userAccountView">Ahmed</a>
		<br/>5.  <a href="/accountManager/userAccountView">Avi</a>
		<br/>6.  <a href="/accountManager/userAccountView">Armaan</a>
		<br/>7.  <a href="/accountManager/userAccountView">Alvi</a>
		<br/>8.  <a href="/accountManager/userAccountView">Aritro</a>
		<br/>9.  <a href="/accountManager/userAccountView">Asad</a>
		<br/>10. <a href="/accountManager/userAccountView">Akkhar</a>
		<br/>11. <a href="/accountManager/userAccountView">Amzad</a>
		<br/>12. <a href="/accountManager/userAccountView">Azwad</a>
		<br/>13. <a href="/accountManager/userAccountView">Akbar</a>
		<br/>14. <a href="/accountManager/userAccountView">Alam</a>
		<br/>15. <a href="/accountManager/userAccountView">Alamin</a>
		<br/>16. <a href="/accountManager/userAccountView">Arsaad</a>
		<br/>17. <a href="/accountManager/userAccountView">Ataur</a>
		<br/>18. <a href="/accountManager/userAccountView">Arian</a>
		<br/>19. <a href="/accountManager/userAccountView">Anam</a>
		<br/>20. <a href="/accountManager/userAccountView">Aziz</a>
	</div>
	<div style="float:left;width:54%;background-color:white;margin-left:5px;padding:20px;">
		<center><br/> Reported posts :
			<div style="width:90%;background-color:rgb(84,84,84);border-radius:15px;padding:15px">
				User1<br/>
				12 Feb 2020, 08:40PM<br/>
				Sample post writing....Sample post writing...Sample post writing....Sample post writing.....Sample post writing....Sample post writing...Sample post writing....Sample post writing....Sample post writing....Sample post writing....Sample post writing<br/><br/>
				29Likes * 3Comments
			</div>
			<div style="width:90%;background-color:rgb(84,84,84);border-radius:15px;padding:15px;margin-top:5px">
				User2<br/>
				12 Feb 2020, 08:40PM<br/>
				Sample post writing....Sample post writing...Sample post writing....<br/><br/>
				29Likes * 3Comments
			</div>
			<div style="width:90%;background-color:rgb(84,84,84);border-radius:15px;padding:15px;margin-top:5px">
				User3<br/>
				12 Feb 2020, 08:40PM<br/>
				Sample post writing....Sample post writing...Sample post writing....Sample post writing.....Sample post writing....Sample post writing...Sample post writing....<br/><br/>
				29Likes * 3Comments
			</div>
			<div style="width:90%;background-color:rgb(84,84,84);border-radius:15px;padding:15px;margin-top:5px">
				User4<br/>
				12 Feb 2020, 08:40PM<br/>
				Sample post writing....Sample post writing...Sample post writing....Sample post writing.....Sample post writing....Sample post writing...Sample post writing....Sample post writing....Sample post writing....Sample post writing....Sample post writing<br/><br/>
				29Likes * 3Comments
			</div>
		</center>
		
	</div>
	<div style="float:left;width:18%;background-color:white;margin-left:5px;padding:20px;">
		<center>
			<br/>Notifications :
			<div style="width:90%;background-color:rgb(144,144,144);border-radius:15px;padding:15px">
				Inactivity Found<br/>
				12 Feb 2020, 08:40PM<br/>
				Account inactivity Found, Please Review this, Account anonymous access platform<br/><br/>
			</div>
			<div style="width:90%;background-color:rgb(144,144,144);border-radius:15px;padding:15px;margin-top:5px;">
				Sensored Content Flash<br/>
				12 Feb 2020, 08:40PM<br/>
				Post Content sensored, Cann't permit to broadcast public, Account restrictioning requesting.<br/><br/>
			</div>
			<div style="width:90%;background-color:rgb(144,144,144);border-radius:15px;padding:15px;margin-top:5px;">
				Content Duplicancy Found<br/>
				12 Feb 2020, 08:40PM<br/>
				Post content duplicancy occured, claimed to permit authenticity there. Account Recview action requested.<br/><br/>
			</div>
			<div style="width:90%;background-color:rgb(144,144,144);border-radius:15px;padding:15px;margin-top:5px;">
				Inactivity Found<br/>
				12 Feb 2020, 08:40PM<br/>
				Account inactivity Found, Please Review this, Account anonymous access platform<br/><br/>
			</div>
		</center>
	</div>
</body>
</html>